* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.gameHeader {
    padding: 20px;
    background-color: blue;
    color: white;
}

.highScores a {
    color: white;
    text-decoration: none;
}

.timer {
    text-align: end;
}

.quizBox {
    display: block;
    border: solid 1px #000;
    margin: 5px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.introBox h1 {
    padding: 10px;
}

#startButton {
    margin: auto;
    width: 200px;
}