.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.moneyListItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.moneyListItem.active {
  background-color: teal;
}

.number {
  font-size: 18px;
  font-weight: 100;
}

span.amount {
  font-size: 20px;
  font-weight: 300;
}